---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">

	<section class="panel panel-1">HOME</section>
	<section class="panel panel-2">ABOUT</section>

</Layout>

<style is:global>
	body {
		background-color: #000000;
	}
</style>

<style>
	main {
		height: 100vh;
	}
	.panel {
		position: sticky;
		top: 0;
		height: 100vh;
	}
	.panel-1 {
	}
	.panel-2 {
		background: #222;
	}
</style>
