<header>
    <div class="header-container">
        <div>
            <p>Matthijs ten Brink</p>
            <p>@Matthijs_tb7</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/about-me">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        position: relative;
        z-index: 1000;
        /* backdrop-filter: blur(10px); */
    }
    .header-container {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: transparent;
    }
</style>