<script>
const menuButton = document.querySelector('.menu-button')
const menuLabel = menuButton.querySelector('.menu-button-label')
const headerNav = document.querySelector('.header-nav')
const headerNavContainer = document.querySelector('.header-nav-container')

menuButton.addEventListener('click', function (ev) {
  ev.preventDefault()

  const isOpen = headerNav.classList.toggle('target')
  headerNavContainer.classList.toggle('show', isOpen)
  menuButton.classList.toggle('show', isOpen)

  menuLabel.textContent = isOpen ? 'CLOSE' : 'MENU'
})
</script>

<header>
    <nav class="nav-list">
        <a class="menu-button" href="#footer-nav">
            <title>Naar het menu</title>
            <span class="menu-button-label">MENU</span>
        </a>
        <div class="header-nav-container">
            <section class="header-nav">
                <ul class="nav-list-header">
                    <li><a href="/">Home</a></li>
                    <li><a href="/work">Work</a></li>
                    <li><a href="/about-me">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </section>
        </div>
        <div class="person-info">
            <p>Matthijs ten Brink</p>
            <p>Matthijs_tb7</p>
        </div>
        <a class="nav-links" href="/">HOME</a>
        <a class="nav-links" href="/work">WORK</a>
        <a class="nav-links" href="/about-me">ABOUT</a>
        <a class="nav-links" href="/contact">CONTACT</a>
    </nav>
    
</header>

<style>
    header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: transparent;
        z-index: 999;
        padding: 36px 18px 46px 18px;
    }

    /* HELE NAV */

    .nav-list {
        display: flex;
        justify-content: end;
        align-items: center;
        @media (min-width: 820px) {
            gap: 5em;
        }

        & .menu-button {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .25em;
            letter-spacing: 0px;
            font-weight: 600;
            font-size: 1.5rem;
            position: absolute;
            z-index: 1000;
            @media (min-width: 820px) {
                display: none;
                position:static;
            }

            & svg {
                height: 20px;
                width: 20px;
                fill: white;
            }
            &.show {
                z-index: 1000;
            }
        }
        & .person-info {
            margin-right: auto;
            font-size: 1.25rem;
            & p:nth-of-type(2) {
                color: rgb(72, 72, 72);
            }
        }
        & .nav-links {
            display: none;
            font-size: 2rem;

            &:hover {
                transform: scale(1.15);
            }

            @media (min-width: 820px) {
                display: block;
            }
        }

        & .contact-link {
            font-weight: 900;
            text-decoration: none;
            border: none;
            font-size: 16px;
        }
    }


    /* DIV OM BURGER MENU */

    .header-nav-container {
        @media (min-width: 820px) {
            appearance: none;
            display: none;
            height: 0px;
            width: 0px;
        }

        & .menu-close {
            font-size: 2em;
            display: none;
            position: fixed;
            right: 5vw;
            top: 4vh;
            text-decoration: none;
            z-index: 999;

            &.show {
                display: block;
            }

            & ::after {
                content: '';
                background: rgba(0, 0, 0, .6);
                position: absolute;
                left: 100%;
                width: 100vw;
                height: 100vh;
            }
        }

        &.show {
            &::after {
                content: '';
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100vw;
                background-color: rgba(25, 25, 25, 0.605);
            }
        }
    }

    /* BURGER MENU NAV */

    .nav-list-header {
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        & a {
            justify-content: left;
            padding-left: .1em;
            font-size: 7em;
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.1;
            letter-spacing: -8px;
        }
    }
   


    /* BURGER MENU SECTION */
    .header-nav {
        z-index: 888;
        position: fixed;
        inset: 0 50% 0 0;
        right: 0;
        transition: .5s cubic-bezier(.4,0,.2,1);
        transform: translateX(100%);
        background-color: rgb(17 17 17/ 1);
        visibility: hidden;

        & h2 {
            margin-top: 2em;
            padding-left: 16px;
        }

        &:target,
        &.target {
            transform: translateX(0);
            visibility: visible;
        }
    }
    .header-nav.target {
        ul {
            & li {
                opacity: 0;
                transform: translateY(80px);
                animation: fadeInUp 0.3s ease forwards;
                &:nth-of-type(1) {
                    animation-delay: 0.1s;
                }
                &:nth-of-type(2) {
                    animation-delay: 0.2s;
                }
                &:nth-of-type(3) {
                    animation-delay: 0.3s;
                }
                &:nth-of-type(4) {
                    animation-delay: 0.4s;
                }
            }
        }
    } 
    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>